<a href="https://colab.research.google.com/github/ipshitaRB/Clean_Ebay_Car_Sales_Data/blob/master/Clean_Ebay_Car_Sales_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Clean Ebay Car Sales Data
## Cleaning and Analaysis of used car listings on eBay

We will be working on a dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website.

The dataset was originally scraped and uploaded to [Kaggle](https://www.kaggle.com/orgesleka/used-cars-database/data). The version of the dataset we are working with is a sample of 50,000 data points that was prepared by Dataquest including simulating a less-cleaned version of the data.

**EBay** Data:

* dateCrawled - When this ad was first crawled. All field-values are taken from this date.
* name - Name of the car.
* seller - Whether the seller is private or a dealer.
* offerType - The type of listing
* price - The price on the ad to sell the car.
* abtest - Whether the listing is included in an A/B test.
* vehicleType - The vehicle Type.
* yearOfRegistration - The year in which the car was first registered.
* gearbox - The transmission type.
* powerPS - The power of the car in PS.
* model - The car model name.
* kilometer - How many kilometers the car has driven.
* monthOfRegistration - The month in which the car was first registered.
* fuelType - What type of fuel the car uses.
* brand - The brand of the car
* notRepairedDamage - If the car has a damage which is not yet repaired.
* dateCreated - The date on which the eBay listing was created.
* nrOfPictures - The number of pictures in the ad.
* postalCode - The postal code for the location of the vehicle.
* lastSeenOnline - When the crawler saw this ad last online.

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
#import libraries
import pandas as pd
import numpy as np

In [0]:
autos = pd.read_csv("/content/drive/My Drive/Data Science /Data/EbayCarSales/autos.csv",encoding = "Latin-1")

In [35]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
dateCrawled            50000 non-null object
name                   50000 non-null object
seller                 50000 non-null object
offerType              50000 non-null object
price                  50000 non-null object
abtest                 50000 non-null object
vehicleType            44905 non-null object
yearOfRegistration     50000 non-null int64
gearbox                47320 non-null object
powerPS                50000 non-null int64
model                  47242 non-null object
odometer               50000 non-null object
monthOfRegistration    50000 non-null int64
fuelType               45518 non-null object
brand                  50000 non-null object
notRepairedDamage      40171 non-null object
dateCreated            50000 non-null object
nrOfPictures           50000 non-null int64
postalCode             50000 non-null int64
lastSeen               50000 non-null object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

In [36]:
autos.head()

           dateCrawled  ...             lastSeen
0  2016-03-26 17:47:46  ...  2016-04-06 06:45:54
1  2016-04-04 13:38:56  ...  2016-04-06 14:45:08
2  2016-03-26 18:57:24  ...  2016-04-06 20:15:37
3  2016-03-12 16:58:10  ...  2016-03-15 03:16:28
4  2016-04-01 14:38:50  ...  2016-04-01 14:38:50

[5 rows x 20 columns]

In [37]:
autos.describe()

       yearOfRegistration       powerPS  ...  nrOfPictures    postalCode
count        50000.000000  50000.000000  ...       50000.0  50000.000000
mean          2005.073280    116.355920  ...           0.0  50813.627300
std            105.712813    209.216627  ...           0.0  25779.747957
min           1000.000000      0.000000  ...           0.0   1067.000000
25%           1999.000000     70.000000  ...           0.0  30451.000000
50%           2003.000000    105.000000  ...           0.0  49577.000000
75%           2008.000000    150.000000  ...           0.0  71540.000000
max           9999.000000  17700.000000  ...           0.0  99998.000000

[8 rows x 5 columns]

In [38]:
autos.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')



---


We will make a few changes here 
* yearOfRegistration to registration_year
* monthOfRegistration to registration_month
* notRepairedDamage to unrepaired_damage
* dateCreated to ad_created
* The rest of the columnn names from camelcase to snakecase.

In [39]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'ab_test',
       'vehicle_type', 'registration_year', 'gearbox', 'power_ps', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unrepaired_damage', 'ad_created', 'num_photos', 'postal_code',
       'last_seen']
autos.head()

          date_crawled  ...            last_seen
0  2016-03-26 17:47:46  ...  2016-04-06 06:45:54
1  2016-04-04 13:38:56  ...  2016-04-06 14:45:08
2  2016-03-26 18:57:24  ...  2016-04-06 20:15:37
3  2016-03-12 16:58:10  ...  2016-03-15 03:16:28
4  2016-04-01 14:38:50  ...  2016-04-01 14:38:50

[5 rows x 20 columns]

In [40]:
autos.describe(include = "all") # to get both categorical and numberical data

               date_crawled         name  ...   postal_code            last_seen
count                 50000        50000  ...  50000.000000                50000
unique                48213        38754  ...           NaN                39481
top     2016-03-30 17:37:35  Ford_Fiesta  ...           NaN  2016-04-07 06:17:27
freq                      3           78  ...           NaN                    8
mean                    NaN          NaN  ...  50813.627300                  NaN
std                     NaN          NaN  ...  25779.747957                  NaN
min                     NaN          NaN  ...   1067.000000                  NaN
25%                     NaN          NaN  ...  30451.000000                  NaN
50%                     NaN          NaN  ...  49577.000000                  NaN
75%                     NaN          NaN  ...  71540.000000                  NaN
max                     NaN          NaN  ...  99998.000000                  NaN

[11 rows x 20 columns]

In [0]:
autos.describe()

       registration_year      power_ps  ...  num_photos   postal_code
count       50000.000000  50000.000000  ...     50000.0  50000.000000
mean         2005.073280    116.355920  ...         0.0  50813.627300
std           105.712813    209.216627  ...         0.0  25779.747957
min          1000.000000      0.000000  ...         0.0   1067.000000
25%          1999.000000     70.000000  ...         0.0  30451.000000
50%          2003.000000    105.000000  ...         0.0  49577.000000
75%          2008.000000    150.000000  ...         0.0  71540.000000
max          9999.000000  17700.000000  ...         0.0  99998.000000

[8 rows x 5 columns]



---

Observations:
1. price can be a numerical column if $ sign is removed
2. odometer can be a numerical column if km is removed from its values
3. registration_year has max value of 9999. 
4. num_photos is 0 for all cars
5. minimum registration month is 0

In [0]:
autos["num_photos"].value_counts()

0    50000
Name: num_photos, dtype: int64

Num_photos has only 1 value - 0. Therefore it can be dropped

In [0]:
autos["seller"].value_counts()

privat        49999
gewerblich        1
Name: seller, dtype: int64

In [0]:
autos["offer_type"].value_counts()

Angebot    49999
Gesuch         1
Name: offer_type, dtype: int64

Offer_type and seller also have mostly same value so they can be dropped too.

In [0]:
autos[autos["registration_year"] == 9999]

              date_crawled  ...            last_seen
8012   2016-03-23 16:43:29  ...  2016-04-05 20:16:15
14341  2016-03-23 01:36:20  ...  2016-03-23 08:47:00
33950  2016-03-23 21:52:25  ...  2016-04-06 03:46:40
38076  2016-04-04 22:54:47  ...  2016-04-07 02:44:52

[4 rows x 20 columns]

Drop columns with mostly same values

In [0]:
autos = autos.drop(["num_photos", "seller", "offer_type"], axis=1)

Convert price and odometer to numerical columns

In [0]:
autos["price"] = autos["price"].str.replace("$","").str.replace(",","").astype(int)

In [61]:
autos["price"].head()

0    5000
1    8500
2    8990
3    4350
4    1350
Name: price, dtype: int64

In [0]:
autos["odometer"] = autos["odometer"].str.replace("km","").str.replace(",","").astype(int)

In [57]:
autos.rename({"odometer":"odometer_km"},  axis = 1, inplace = True)
autos["odometer_km"].head()

0    150000
1    150000
2     70000
3     70000
4    150000
Name: odometer_km, dtype: int64



---


Explore price column

In [44]:
autos["price"].unique().shape

(2357,)

In [45]:
autos["price"].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

In [66]:
autos["price"].value_counts().sort_index(ascending=False).head(20)

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
350000      1
345000      1
299000      1
295000      1
265000      1
259000      1
250000      1
220000      1
198000      1
197000      1
Name: price, dtype: int64

In [67]:
autos["price"].value_counts().sort_index().head(20)

0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
13       2
14       1
15       2
17       3
18       1
20       4
25       5
29       1
30       7
35       1
Name: price, dtype: int64

In [68]:
autos["price"].describe()

count    5.000000e+04
mean     9.840044e+03
std      4.811044e+05
min      0.000000e+00
25%      1.100000e+03
50%      2.950000e+03
75%      7.200000e+03
max      1.000000e+08
Name: price, dtype: float64

There are a number of listings with prices below \$30, including about 1,500 at \$0. There are also a small number of listings with very high values, including 14 at around or over $1 million.

Given that eBay is an auction site, there could legitimately be items where the opening bid is \$1. We will keep the \$1 items, but remove anything above \$350,000.

In [69]:
autos = autos[autos["price"].between(1,350001)]
autos["price"].describe()

count     48565.000000
mean       5888.935591
std        9059.854754
min           1.000000
25%        1200.000000
50%        3000.000000
75%        7490.000000
max      350000.000000
Name: price, dtype: float64